<div>
  <form [formGroup]="orderForm" (ngSubmit)="manageOrder()">
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="restaurant" ngDefaultControl>Restaurant:</label>
          <select id="restaurant" formControlName="restaurant" [(ngModel)]="selectedRestaurant" >
            <option *ngFor="let restaurant of restaurantList" [ngValue]="restaurant">{{restaurant.name}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="menu">Menu:</label>
          <select id="menu" formControlName="menu">
            <option *ngFor="let menu of selectedRestaurant?.menu" [ngValue]="menu">{{menu.name}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="quantity">Quantity:</label>
          <input type="number" id="quantity" formControlName="quantity"/>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">{{this.order ? "Edit Order" : "Add Order"}}</button>
  </form>
</div>


<div>
  <table class="table w-50 p-3">
    <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Restaurant</th>
      <th scope="col">Menu</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of ordersList">
      <td>{{order?.id}}</td>
      <td>{{order?.restaurant?.name}}</td>
      <td>{{order?.menu?.name}}</td>
      <td>{{order?.quantity}}</td>
      <td>{{order.menu.price * order.quantity}} €</td>
      <td>
        <i class="fa fa-pencil text-primary btn" (click)="setOrder(order)"></i>
        <i class="fa fa-trash text-danger btn" (click)="deleteOrder(order.id)"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
